.cursor-pointer{
  cursor: pointer;
}

.card-header:hover {
  background-color: rgba(0,0,0,0.1);
}

.card-header-inner {
  background-color: white;
}

.nav-link {
  padding: 0.5rem 0.5rem;
}

.navbar {
  padding-left: 0em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}